#frame-2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	text-align: center;
	position: relative;
}

.title-banner {
	font-family: var(--font-cronos);
	color: var(--font-color);
	font-size: 37pt;
	width: 300px;
	position: absolute;
	left: -450px;
	transition: left 3s;
}

.title-banner-2 {
	font-family: var(--font-cronos);
	color: var(--font-color);
	font-size: 37pt;
	width: 300px;
	position: absolute;
	left: -450px;
	transition: left 3s;
}

.logo-banner {
	position: absolute;
	right: -450px;
	transition: right 3s;
}

.left {
	left: 50px !important;
}

.right {
	right: 50px !important;
}
